/*
	CSS DOCUMENT
	PROPERTY OF DULCET GAMES INC.

	March 7, 2018
*/

#popup-container
{
	position: fixed;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#top-right-x
{
	position: absolute;
	right: 2%;
	top: 2%;
	color: white;
	/* font-stretch: expanded; */
	font-size: 3em;
}

#top-right-x:hover
{
	cursor: pointer;
}

#popup-img
{
	height: 90%;
	widows: auto;
}

.invisible
{
	display: none;
	animation-name: dezoom;
	animation-duration: 0.5s;
	-webkit-animation-name: dezoom;
	-webkit-animation-duration: 0.5s;
}

.visible
{
	display: block;
	animation-name: zoom;
	animation-duration: 0.5s;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.5s;
}

@keyframes zoom
{
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

@-webkit-keyframes zoom
{
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes dezoom
{
	from {transform:scale(1)} 
	to {transform:scale(0); display: none;}
	
}

@-webkit-keyframes dezoom
{
	from {-webkit-transform:scale(1)} 
	to {-webkit-transform:scale(0)}
}

/*in-game popups ("Congratulations)*/
.popup
{
    position: absolute;
    text-align: center;
    letter-spacing: 0.1em;
    
    width: 20%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    opacity: 0.9;
    /* border: 1px solid #ff4956; */
    box-shadow: 0 0 5px #682666;
    border-radius: 10px;
    padding: 20px;

    background-color: #f3def2;
}

#popup
{
	z-index: 1000;
}

#popupContainer
{
    position: absolute;
    text-align: center;
    letter-spacing: 0.1em;
    
    width: 20%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    opacity: 0.9;
    /* border: 1px solid #ff4956; */
    box-shadow: 0 0 5px #682666;
    border-radius: 10px;
    padding: 20px;

	background-color: #f3def2;
	z-index: 1000;
	opacity: 1;
}

#okButton
{
	margin-top: 20px;
	z-index: 1000;

}

.popupButton
{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	z-index: 1000;
}

#popupHandler
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgb(0, 0, 0, 0.7);/* same as opacity: 0.7; */
}