/*
	CSS DOCUMENT
	PROPERTY OF DULCET GAMES INC.

	Official Colors:
	#ff4956 - ROSE	(64%)
    #682666 - MAUVE	(28%)
    #F7B334 - JAUNE	(59%)
    #EFEEEA - GREY rgb(239, 238, 234) - GREY

	Light Colors:
	#ffe2e4 - ROSE	(94%)
    #f3def2 - MAUVE	(91%)
	#fdeac7 - JAUNE	(89%)
	
	Dark Colors:
	#c0000e - ROSE	(38%)
    #4f1d4e - MAUVE	(21%)
	#de9409 - JAUNE	(45%)

	#e42371 - Fun Pink (progress bar)
	
	color shades:
	http://www.0to255.com/682666

	July 8, 2017
*/

/*styles*/
@import url("se-buttons.css");
@import url("se-cards.css");
@import url("se-flex.css");
@import url("se-footer.css");
@import url("se-game.css");
@import url("se-header.css");
@import url("se-loaders.css");
@import url("se-popups.css");

/*pages*/
@import url("pages/se-characters.css");
@import url("pages/se-dorm.css");
@import url("pages/se-faq.css");
@import url("pages/se-features.css");
@import url("pages/se-illustrations-achievements.css");
@import url("pages/se-index.css");
@import url("pages/se-profile.css");
@import url("pages/se-relationships.css");
@import url("pages/se-staff.css");
/* @import url("pages/se-gameboot.css"); */
/* @import url("pages/se-.css"); */

*
{
	font-family: 'Roboto', sans-serif;
	color: auto;
	margin: 0 auto;
	font-weight: 300;
	/* border: 1px solid black; */
}

.adsbygoogle
{
	display: block;
	width: 100%;
	height: 100px;
	border-radius: 10px;
}

/* *:hover
{
	cursor: -webkit-grab;
	background-color: blue;
}  */

/**********OBJECTS**********/
	body
	{
		background-image: url("../images/se-background.jpg");
		background-repeat: repeat;
	}

	img
	{
		user-select: none;
		-webkit-user-select: none;
	}

	input
	{
		border: 1px solid #CCCCCC;
	}

	/*faire une nomenclature officielle pour tous les headers*/
	h1
	{
		font-family: 'Great Vibes', cursive;
		font-size: 4em;
		color: #682666	;
		/* margin-bottom: 20px; */
		font-weight: 100;
		text-align: center;
	}

	h2
	{
		color:#682666;
		text-align: left;
		/*margin: 10px;*/
	}

	h3
	{
		font-family: 'Great Vibes', cursive;
		color: black;
		font-size: 3em;
		/* margin: 5px; */
		font-weight: 500;
	}

	h4
	{
		font-family: 'Roboto', sans-serif;
		font-size: 2.3em;
		letter-spacing:0.1em;
		font-weight: 100;
		/* padding:0px 0 10px 0; */
	}

	h5/*SAME AS H4, BUT DIFFERENT FONT-SIZE*/
	{
		font-family: 'Roboto', sans-serif;
		font-size: 1.4em;
		letter-spacing:0.1em;
		font-weight: 100;
		text-align: center;
	}

	h6 /*SAME AS H1, BUT WITHOUT MARGIN-BOTTOM*/
	{
		font-family: 'Great Vibes', cursive;
		font-size: 4em;
		color: #682666;
		font-weight: 100;
		text-align: center;
		margin: 0px;
	}

	i
	{
		color:#ff4956;
		font-style: italic;
		font-size: 1.3em;
		font-weight: 100;
	}

	b
	{
		font-weight:500;
		color:#682666;
	}

	strong/*is white, as opposed to b which is purple*/
	{
		font-weight: 500;
		color: white;
	}

	a
	{
		color:#682666;
		font-weight:500;
		text-decoration:none;
	}

/***************STRUCTURE***************/

	.energy
	{
		position: fixed;
		right: 0;
	}


	.main_content
	{
		width: 80%;
		min-width: 1000px;
	}

	.center-screen
	{
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate3d(-50%, -60%, 0);/*-60% because of the header that takes space*/

		width: 35%;
	}

	.fullscreen
	{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: auto;
	}

	.fullscreen-child
	{
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate3d(-50%, -50%, 0);/*-60% because of the header that takes space*/
	}

	.fullscreen-immovible/*if we want to do a popup to promote something*/
	{
		position: fixed;
		left: 0px;
		top: 50%;
		width: 100%;
		height: auto;
		z-index: 10;

		transform: translateY(-50%);
	}

	.add_padding
	{
		padding: 20px;
	}

	.true-center/*truly centers in parent div*/
	{
		position: absolute;

		left: 50%;
		top: 50%; 
		
		transform: translate3d(-50%, -50%, 0);
		}

	.center/*Used for buttons*/
	{
		text-align: center;
	}

	.center_div/*UNUSED*/
	{
		margin: 0 auto;

		/*
		Center Vertically
			http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers
			https://css-tricks.com/centering-css-complete-guide/
		*/

		/*
		Center Horizontally
			WHAT THE FUCKING FUCK THERE'S A SHORTCUT TO CENTER SOMETHING WHAT THE SHIT
			http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
		*/

		/* Firefox */
		display:-moz-box;
		-moz-box-pack:center;
		-moz-box-align:center;

		/* Safari and Chrome */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
	}

/***************SHADOW TESTS***************/

	.box
	{
		height: 150px;
		width: 300px;
		margin: 20px;
		border: 1px solid #ccc;
	}

	.add_shading
	{
		box-shadow: 0 0 5px #83827d;
	}

	.top-shadow
	{
		box-shadow: 0 -5px 5px -5px #83827d;
	}
	
	.left-shadow
	{
		box-shadow: -5px 0 5px -5px #83827d;
	}
	
	.bottom-shadow
	{
		box-shadow: 0 5px 5px -5px #83827d;
	}
	
	.right-shadow
	{
		box-shadow: 5px 0 5px -5px #83827d;
	}
	
	.all-shadow
	{
		box-shadow: 0 0 5px #333;
	}

/***************DATABASE***************/

	#DB_handle
	{
		display: none;
	}