@charset "UTF-8";
/* CSS Document */
body{
	margin: 0 !important;
    padding: 0 !important;
    background-image: url(images/se-background.jpg);
    background-repeat: repeat;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.5em;	
}
.sociallogo{
	float:left;
	display:block;
}

.pinksocial{
	background-color:#EE4C5E; 
	max-width:780px;
	text-align:center;
	padding:20px; 
	color:#FFFFFF; 
	vertical-align:middle;
	letter-spacing:0.1em;
	font-family: 'Roboto', sans-serif;
	font-size:1em;
}

.contentbulleted_list li{ 
	list-style:square;
	padding-bottom:20px;
	margin-left:20px;
}
p{
	padding-bottom:5px;
}
h1{
	color:#EE4C5E;
	font-weight:700;
	font-size:1.4em;
	text-transform: capitalize;
}

h2{
	color:#EE4C5E;
	font-size:1.1em;
	font-weight:500;
}

.knockout{
	font-weight:400;
	color: #ffffff !important;
	font-size:0.9em;
	letter-spacing:0.2em;
	line-height:1.5em;
	padding:0 80px 0 80px;
}

.knockout a{
	color:#FFFFFF !important;
}

.knockout a:hover{
	color: #EE4C5E !important;
}


a:link{
	color:#682666;
	font-weight:500;
	text-decoration:none;
}

a:hover{
	color:#ff4956;
}

b{
	font-weight:500;
}


.user_information{
	margin:0 auto;
	background-color:#682566;
	width:100%;
	color:#ffffff;
	padding:5px 0 5px 0;
	text-align:center;
	font-size:0.7em;
	letter-spacing:0.2em;
}
.user_information .hello_user{
	text-transform:uppercase;
	font-weight:500;
}

.user_information b{
	text-transform:uppercase;
}

.user_information .logout_help{
	letter-spacing:0.1em;
	font-size:0.6em;
	color:#ffffff;
}

.user_information .logout_help > a {
	color:#ffffff;
}

.user_information .logout_help a:hover{
	color:#FF485C;
}

.white_links_logo{
	max-width:800px;
	margin: 0 auto;
}
.se_logo{
	position: relative;
	top:22px;
	left: -12px;
	border:none;
	z-index:3;
}

.se_logo img{
	max-width:356px;
}

.scholar_avatar{
	position: absolute;
	top: 100px;
	right: -90px;
	z-index:1;
}


.white_float_window{
	max-width:780px;
	margin: 0 auto;
	background:#FFFFFF;
	box-shadow: 0 0 5px #83827d;
	border: 1px #83827d;
	position:relative;
	z-index:2;
}
.pink_nav_bar_desktop{
	max-width:780px;
	background-color:#EE4C5E;
	text-align:center;
}

.pink_nav_bar_desktop .pink_button{
	background-color: #EF4C5E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size:0.7em;
	letter-spacing:0.2em;
	text-transform:uppercase;
	
}

.pink_nav_bar_desktop .pink_button:hover {
    background-color: #F6B331;
}

.page_content{
	padding:40px;
}

.game_container{
	margin: 0 auto;
	padding:30px;
}

.game_container .img{
	max-width: 100%;
	height:auto;
}

.legal_information{
	position: relative;
	bottom:0;
	width:100%;
	background-color:#DBDAD7;
	width:100%;
	color:#682566;
	padding:10px;
	text-align:center;
	font-size:0.8em;
	letter-spacing:0.2em;
}
.mobi_pink_nav {
    position: relative;
    display: inline-block;
	width:100%;
	background-color:#EE4C5E;
}
.mobi_pink_nav_dropbtn {
    background-color: #EE4C5E;
    color: white;
    border: none;
	font-size:0.7em;
	letter-spacing:0.2em;
	text-transform:uppercase;
	width:100%;
}


/* Dropdown Content (Hidden by Default) */
.mobi_pink_nav_content {
    display: none;
    position: absolute;
    background-color:#EE4C5E;
	font-size:0.7em;
	letter-spacing:0.2em;
	text-transform:uppercase;
	width: 100%;
}

/* Links inside the dropdown */
.mobi_pink_nav_content a {
    color: #FFFFFF;
    padding: 12px;
    text-decoration: none;
    display: block;
	text-align:center;
}

/* Change color of dropdown links on hover */
.mobi_pink_nav_content a:hover {
	background-color: #F6B331
}

/* Change color of dropdown links on hover */
.mobi_pink_nav_content a:active {
	background-color: #F69D99;
}

/* Show the dropdown menu on hover */
.mobi_pink_nav:hover .mobi_pink_nav_content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.mobi_pink_nav:hover .mobi_pink_nav_dropbtn {
    background-color: #F6B331;
}

.client{
	max-width:720px;
	margin:30px;
}

input{
    background-color: #682666;
    color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	font-weight:300;
	width: 60%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=submit] {
    background-color: #ffffff;
    border: none;
    color: #682666;
    padding: 5px;
	width:20%;
    text-decoration: none;
    margin: 20;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:0.8em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:0.8em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:0.8em;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:0.8em;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #fff;
  	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:0.8em;
}


@media only screen and (min-width: 600px ) {
.pink_nav_bar_desktop{
	display:block;}

.mobi_pink_nav{
	display:none;}
}
    
@media only screen and (max-width: 600px ) {
.pink_nav_bar_desktop{
	display:none !important;}

.mobi_pink_nav{
	display:block !important;}

.mobi_user_information{
	display: none;}

.se_logo{
	position:static;
	text-align:center;
	padding-top:10px;}

.se_logo img{
	width: 50% !important;}

.client{
	margin:0 !important;
}
.sociallogo{
	display: block-level;
	float:none;
	margin:0 auto;
}


@media only screen and (max-width: 480px){
body{
	line-height:2em !important;
	}

.pinksocial{
	line-height:1.4em;}
	
	}
}



@media only screen and (max-width: 320px){
.se_logo{
	display: none}

.legal_information{
	display:none;}
}