/*
	CSS DOCUMENT
	PROPERTY OF DULCET GAMES INC.

	March 7, 2018
*/


#banner
{
	position: relative;
	margin: 0 auto;
	border: 1px #83827d;
}

#img_banner
{
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:  10px;
}

#button_container
{
	position: absolute;

	width: 20%;
	height: 30%;

	top: 50%;
	left: 50%;

	transform: translate3d(-50%, -50%, 0);/*-60% because of the header that takes space*/
}

#signup_button
{
	position: absolute;

	width: 70%;
	top: 0%;
	left: 50%;

	transform: translateX(-50%);

	text-transform: uppercase;
	background-color: #682666;
	font-size: 2.5vw;

	color: white;
	margin-bottom: 0.5vw;
	font-weight: 200;
}

#signup_button:hover
{
	background-color: #EE4C5E;
}

#login_button
{
	position: absolute;

	width: 50%;
	bottom: 0%;
	left: 50%;

	transform: translateX(-50%);

	background-color: #F7B334;
	font-size: 2vw;
	color: white;
	letter-spacing: 0.05em;
	margin-top: 0.5vw;
	padding: 10px;
	text-decoration: none;/*enlever le underline -> ne va plus être nécessaire quand on va rendre le bouton un actual Button*/
	border-radius: 5px;
	font-weight: 200;
	transition: background-color 0.3s;

}

#login_button:hover
{
	background-color: #EE4C5E;
}

#img_comming_soon
{
	width: 100%;
}

#img_diamondbar
{
	width: 100%;
}

#coming_soon
{
	background-color:#682666;
	color: white;
	text-align: center;
	font-size: 0.96em;
	letter-spacing: 0.1em;
}

#profile-overview-top
{
	border: 2px solid #ffe2e4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#profile-overview-bottom
{
	background-color: #ffe2e4;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.logged-in-three-containers
{
	margin: 5px;
}

.department-line
{
	flex: 1;
	padding: 0px;
	margin: 0px;
	text-align: left;
	align-content: left;
	flex-direction: row;
}

.badge
{
	flex: 2;
	/* width: 10%; */
}

.img-badge
{
	width: 100%;
	border-radius: 10px;
}

.department-name-container
{
	height: 100%;
	flex: 8;

	display: flex;
	flex-direction: column;
}

.department-name
{
	flex: 1;
	width: 100%; /*la solution à align left*/
	padding-left: 1vw;
}

#button_container_v2/*relative instead of absolute*/
{
	position: relative;
	display: flex;
	margin: 10px;
	padding-bottom: 10px;

	left: 50%;

	transform: translateX(-50%);/*-60% because of the header that takes space*/
}

#button_container_horizontal/*for illustrations, Achievements & Relationship pages*/
{
	display: flex;

	margin-bottom: 20px;
}

#signup_button_v2
{
	background-color: #682666;
	font-size: 2vw;
	color: white;
	margin-right: 0.5vw;
	padding: 10px;
	text-decoration: none;/*enlever le underline -> ne va plus être nécessaire quand on va rendre le bouton un actual Button*/
	border-radius: 5px;
	font-weight: 200;
	transition: background-color 0.3s;
}

#signup_button_v2:hover
{
	background-color: #EE4C5E;
}

#login_button_v2
{
	background-color: #F7B334;
	font-size: 2vw;
	color: white;
	letter-spacing: 0.05em;
	margin-left: 0.5vw;
	padding: 10px;
	text-decoration: none;/*enlever le underline -> ne va plus être nécessaire quand on va rendre le bouton un actual Button*/
	border-radius: 5px;
	font-weight: 200;
	transition: background-color 0.3s;
}

#login_button_v2:hover
{
	background-color: #EE4C5E;
}

#merchandise
{
	display: flex;
}

/*******************le character thingy dans Index.php*******************/

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/

.MTC_container/*MTC for "Meet The Characters*/
{
	position: relative;
	width: 50%;
	transition: background-color 0.3s;
}

.MTC_image
{
	display: block;
	width: 100%;
	height: auto;
}

.MTC_overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #682666;
	transition: background-color 0.3s;
}

.MTC_container:hover .MTC_overlay
{
	opacity: 0.75;
}

.MTC_text
{
	color: white;
	font-size: 1.3em;/*20px*/
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	user-select: none;
	text-transform: uppercase;
}

.MTC_text_description
{
	color: white;
	font-size: 0.8em;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	user-select: none;
}

#highestAffinityIMG
{
	position: relative;
	width: 100%;
	border-radius: 50%;
	border: 2px solid #f3def2;
	box-shadow: 0 0 10px #f3def2;
}

#highestAffinityPERCENTAGE
{
	position: absolute;
	right: 0;
	bottom: 0;
	
	text-align: right;
	vertical-align: bottom;

	font-size: 1.5em;

	transform: translateX(50%);
}

/**************************CSS FOR CAROUSEL********************************/

/* Slideshow container */
.slideshow-container
{
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* The dots/bullets/indicators */
.dot 
{
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #ffe2e4;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover
{
	cursor: pointer;
}
  
.dot-active
{
	background-color: #EE4C5E;
}
  
/* Fading animation */
.fade 
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@-webkit-keyframes fade 
{
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade
{
	from {opacity: .4} 
	to {opacity: 1}
}

/*Characters*/

#horizontal_scroll
{
	padding-left: 0px;
	margin-left: 0px;
	width: 100%;
	display: flex;
	height: auto;
	box-shadow: none;
}

.character_line
{
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: none;
}

.scroll_img_container
{
	flex: auto;
	width: 100%;
	margin: 3px;
}

.scroll_img
{
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.scroll_img:hover
{
	cursor: pointer;
}

.chevron-container
{
	position: relative;
	width: 100px;
}

.chevron-img/*for all chevrons that are 150px high*/
{
	width: 100%;
	user-select: none;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate3d(-50%, -50%, 0);
}

.chevron-img:hover
{
	cursor: pointer;
}
